
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.ryukoku.st.sk2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />


    <application
        android:name=".Sk2Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="sk2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RecordPagerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".ScanService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
