/* search page styling */

body {
    background-color: #ecf0f1;
    color: #000;
    font-size: 0.8em;
    font-family: sans-serif, helvetica;
    margin: 0;
    padding: 0;
}

 :link {
    color: #3469db;
}

 :visited {
    color: #3469db;
}

a:hover {
    color: #f50;
}

a:hover img {
    border: 1px solid #294172;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0.5em 1em 0.5em;
    background-color: #3469db;
    color: #fff;
    font-weight: normal;
    font-size: 150%;
    border-bottom: 1px solid #000;
}

h1 strong {
    font-weight: bold;
    font-size: 150%;
}

h2 {
    text-align: center;
    background-color: #3498db;
    font-size: 100%;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0.3em;
    border-bottom: 1px solid #294172;
}

h3 {
    /*text-align: center;*/
    background-color: #3469db;
    font-size: 100%;
    font-weight: bold;
    color: #fff;
    margin: 0.2em 0em;
    padding: 0.3em 1em;
    border-bottom: 1px solid #294172;
}

hr {
    display: none;
}

.content {
    padding: 0.3em;
}

.alert {
    border: 1px solid #000;
}

img {
    border: 2px solid #fff;
    padding: 2px;
}

.box {
    text-align: center;
}

.item {
    margin: 1em;
    padding: 0.3em 1em;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    font-size: 100%;
    border: 3px solid #3469db;
}

.item p {
    padding: 0em 0.5em;
}

.result {
    margin: 0.5em;
    padding: 0.1em 1em;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    font-size: 50%;
}

input[type=checkbox] {
    margin: 0.5em 0.3em 0.5em 2em;
}

button {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    font-size: 120%;
    text-decoration: none;
    color: #fff;
    background: #3498db;
    border: solid 1px #0f45da7a;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}